@model WebAppDBFirst.Models.DB.Citoyen

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Citoyen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateNaissance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateNaissance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdAdresseNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdAdresseNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdCarteNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCarteNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdCompteNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCompteNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdRelationNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdRelationNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
